.container{
  max-width: 1140px;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.col{
  &-4{
    width: 33.33%;
    padding: 0 15px;
  }
  &-6{
    width: 50%;
    padding: 0 20px;
  }
}
body{
  font-family: 'Urbanist', sans-serif;
  background: #14110E;
}
.header{
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1C1814;
    z-index: 3;
  }
  &__burger{
    display: none;
  }
  &__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0 43px;
    position: relative;
  }
  &__ul{
    display: flex;
    list-style: none;
    position: relative;
    z-index: 3;
  }
  &__li{
    padding-right: 48px;
    &:nth-child(4){
      padding-right: 0;
    }
    &:nth-child(5){
      padding-right: 0;
    }
    &_photo{
      width: 365px;
    }
  }
  &__link{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    &:hover{
      color: #C99E71;
      text-decoration: underline;
    }
    &:active{
      color: black;
    }
  }
  &__logo{
    &_photo{
      position: absolute;
      top: 36px;
      right: 0;
      left: 0;
      margin: 0 auto;
      z-index: 5;
    }
    //&_icon-search{
    //  cursor: pointer;
    //  position: relative;
    //  z-index: 6;
    //  padding-right: 48px;
    //}
    &_icon-bag{
      cursor: pointer;
      position: relative;
      z-index: 7;
    }
  }
  &__search-box{
    position: absolute;
    top: 27px;
    right: 14px;
    z-index: 3;
    transform: translate(-35%, 50%);
    height: 40px;
    background: #1C1814;
    border-radius: 40px;
    border: 1px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__search-bth{
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__search{
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 16px;
    line-height: 40px;
    transition: 0.4s;
    width: 0;
    &:active{
     animation-play-state: paused;
    }
  }
}
.header__search-box:hover > .header__search{
  width: 180px;
}
.subtitle{
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}

.button{
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  background: #C99E71;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  padding: 24px 40px;
  position: relative;
  text-shadow: 0 -1px 1px #777;
  &:hover{
    -webkit-box-shadow: 0 22px 44px rgba(201, 158, 113, 0.2);
    box-shadow: 0 22px 44px rgba(201, 158, 113, 0.2);
  }
  &:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
  }
}

.pod-title{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #C99E71;
}

.title{
  font-family: 'Righteous', cursive;
  font-size: 48px;
  line-height: 130%;
  color: #FFFFFF;
}
.hero{
  height: calc(100vh - 125px);
  min-height: 500px;
  background: url("../photo/hero-photo.png") center/ cover;
  padding: 80px 0 166px;
  &__title{
    font-family: 'Righteous', cursive;
    max-width: 529px;
    font-size: 72px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  &__mean{
    max-width: 511px;
    margin-bottom: 60px;
    font-size: 20px;
  }
}



.process{
  padding: 140px 0 70px;
  &__row{
    margin: 0 -18px;
  }
  &__col-4{
    padding: 0 18px;
  }
  &__card-box{
    &_photo{
      transition: 500ms;
      &:hover{
        cursor: grab;
        transform: scale(1.060);
      }
    }
    &_title{
      font-family: 'Righteous', cursive;
      font-size: 24px;
      line-height: 30px;
      color: #FFFFFF;
      margin-bottom: 24px;
    }
    &_number{
      padding-right: 12px;
      text-transform: uppercase;
      color: #C99E71;
    }
  }
}



.our-history{
  padding: 70px 0;
  &__card-box{
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr 2fr;
    grid-auto-rows: 302px;
  }
  &__photo{
    height: 100%;
    width: 100%;
    transition: 500ms;
    &:hover{
      cursor: grab;
      transform: scale(1.060);
    }
  }
  &__rule-photo{
    height: 100%;
    width: 100%;
    transition: 500ms;
    &:hover{
      cursor: grab;
      transform: scale(1.060);
    }
  }
  &__element-3{
    grid-column: 2;
    grid-row: 1 / 3;
  }
  &__box-about{
    background: #1C1814;
    padding: 120px 56px 147px;
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    transition: 400ms;
    &:hover{
      cursor: grab;
      transform: scale(1.060);
    }
  }
  &__element-2{
    grid-row: 2;
  }
  &__subtitle{
    margin-bottom: 12px;
  }
  &__title{
    max-width: 398px;
    margin-bottom: 36px;
  }
  &__mean{
    max-width: 398px;
  }
}



.coffee-title{
  font-family: 'Righteous', sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.product{
  padding: 70px 0;
  text-align: center;
  &__row{
    margin: 0 -15px;
  }
  &__pod-title{
    margin-bottom: 12px;
  }
  &__title{
    margin-bottom: 56px;
  }
  &__card-box{
    background: #121315;
    padding: 48px 48px 40px;
    margin-bottom: 56px;
    transition: 500ms;
    &:hover{
      cursor: grab;
      transform: scale(1.060);
    }
  }
  &__card-box_title{
    margin-bottom: 38px;
  }
  &__photo{
    margin-bottom: 36px;
  }
  &__shop-button{
    text-align: center;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 13px 20px;
    text-transform: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  &__button-icon{
    padding-right: 15px;
  }
  &__star-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__card-box_margin{
    margin-bottom: 20px;
  }
  &__coffee-cost{
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    &_orange{
      color: #C99E71;
    }
  }
  &__button{
    padding: 20px 36px;
  }
}



.cta{
  padding: 70px 0;
  &__card-box{
    background: #1C1814;
    padding: 85px 80px 84px 169px;
    display: flex;
    justify-content: space-between;
  }
  &__title{
    max-width: 501px;
    margin-bottom: 36px;
  }
  &__text{
    max-width: 535px;
    margin-bottom: 36px;
  }
  &__button{
    padding: 20px 36px;
  }
}


.menu{
  padding: 70px 0;
  text-align: center;
  &__row{
    margin: 0 -20px;
  }
  &__col-6{
    margin-bottom: 36px;
  }
  &__pod-title{
    margin-bottom: 12px;
  }
  &__title{
    margin-bottom: 56px;
  }
  &__card-box{
    border: 1px solid #32323D;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    align-items: center;
    transition: 300ms;
    &:hover{
      cursor: grab;
      transform: scale(1.060);
    }
  }
  &__subtitle{
    font-family: 'Righteous', cursive;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    padding-right: 92px;
  }
  &__icon{
    padding-right: 20px;
  }
}


.testimonial{
  padding: 70px 0;
  text-align: center;
  &__pod-title{
    margin-bottom: 12px;
  }
  &__title{
    margin-bottom: 56px;
  }
  &__card-box{
    cursor: grab;
    background: #1C1814;
    padding: 20px;
    width: 50%;
    margin: 20px;
    &:hover{
      -webkit-box-shadow:  0 22px 44px rgba(201, 158, 113, 0.2);
      box-shadow: 0 22px 44px rgba(201, 158, 113, 0.2);
    }
    &:active{
      cursor: grabbing;
    }
  }
  &__text-photo-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  &__text{
    max-width: 336px;
  }
  &__name{
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 5px;
  }
  &__position{
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.8;
    text-align: left;
  }
  &__icon-box{
    display: flex;
    justify-content: end;
  }
  &__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    position: relative;
    &::after,
    &::before {
      content: "";
      height: 4px;
      border-radius: 3px;
      position: absolute;
      cursor: pointer;
    }
    &::before{
      width: 50px;
      background: #C99E71;
      top: 30px;
      left: 0;
    }
    &::after {
      width: 70px;
      background: #FFFFFF;
      opacity: 0.1;
      top: 30px;
      left: 50px;
    }
  }
  &__button{
    border-radius: 50px;
    padding: 16px;
    border: none;
    &_black{
      background: #121315;
      margin-right: 16px;
    }
    &_white{
      background: #C99E71;
    }
  }
}


.table-book{
  padding: 70px 0;
  &__card-box{
    display: flex;
    align-items: center;
  }
  &__form-box{
    background: #1C1814;
    text-align: center;
    padding: 72px 48px;
  }
  &__pod-title{
    margin-bottom: 12px;
  }
  &__title{
    margin-bottom: 56px;
  }
  &__input{
    background: #14110E;
    padding: 16px 20px;
    border: none;
    width: 100%;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 24px;
    cursor: pointer;
    &_margin{
      margin-bottom: 56px;
    }
    &:focus{
      outline: none;
    }
  }
  &__button{
    padding: 20px 36px;
  }
}


.news{
  padding: 70px 0;
  text-align: center;
  &__row{
    margin: 0 -18px;
  }
  &__col-4{
    padding: 0 18px;
  }
  &__pod-title{
    margin-bottom: 12px;
  }
  &__title{
    margin-bottom: 56px;
  }
  &__card-box{
    background: #1C1814;
    width: 366px;
    transition: 400ms;
    &:hover{
      cursor: grab;
      transform: scale(1.060);
    }
  }
  &__text-box{
    padding: 20px 24px 28px;
    text-align: left;
    color: white;
    font-size: 18px;
    line-height: 22px;
  }
  &__name{
    font-weight: 500;
    margin-bottom: 16px;
    padding-right: 142px;
    display: inline-block;
    &_orange{
      color: #C99E71;
    }
  }
  &__date{
    display: inline-block;
    font-weight: 500;
  }
  &__mean{
    font-family: 'Righteous', sans-serif;
    font-size: 20px;
    line-height: 150%;
    text-transform: capitalize;
    margin-bottom: 33px;
  }
  &__link {
    display: flex;
    align-items: center;
    font-size: 16px;
    &_photo{
      padding-left: 8px;
    }
  }
}



.footer{
  padding: 78px 0 0;
  &__menu-box{
    display: flex;
    align-items: center;
    margin-bottom: 78px;
  }
  &__photo{
    padding-right: 36px;
  }
  &__ul{
    list-style: none;
    display:flex;
  }
  &__li{
    padding-right: 40px;
    &:last-child{
      padding-right: 82px;
    }
  }
  &__link{
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    &:hover{
      color: #C99E71;
      text-decoration: underline;
    }
    &:active{
      color: #1C1814;
    }
  }
  &__label{
    display: flex;
    align-items: center;
  }
  &__input{
    background: #1C1814 center/ cover;
    border: none;
    border-radius: 36px 0 0 36px;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
    padding: 21px 0 22px 28px;
    &:focus{
      outline: none;
    }
  }
  &__button{
    padding: 10px 11px 9px 26px;
    background: #1C1814 center/ cover;
    border: none;
    border-radius: 0 36px 36px 0;
    &_photo{
      height: 48px;
    }
  }
 &__title{
   background: #1C1814;
   font-weight: 500;
   font-size: 14px;
   line-height: 180%;
   color: #FFFFFF;
   text-align: center;
   padding: 32px 0;
 }
}


